PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/mplad_intelligence
JWT_SECRET=sih_mplad_super_secret_jwt_key_2026_gov_portal
JWT_EXPIRES_IN=7d
ML_SERVICE_URL=http://127.0.0.1:8000
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
